*.pyc
*.o
*.lo
*.a
*.la

src/.directory
src/Makefile.qt.include
src/Makefile.qttest.include
src/Makefile.test.include
src/bitcoin-cli-res.rc
src/bitcoind-res.rc
.deps/
.dirstamp
libbitcoinconsensus.pc*
bench_bitcoin
bitcoin-tx-res.rc
src/.libs/
src/primitives/.*
Makefile*
src/Makefile.in
src/bitcoin-cli
src/bitcoin-tx
src/bitcoind
.directory
COPYING
INSTALL
README.md
autogen.sh
build-aux/
contrib/
depends/
doc/
pkg.m4
qa/
share/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
libtool
.directory
.gitattributes
.travis.yml
.tx/
src/test/*.py
src/test/*.py.in
src/test/data/
src/test/test_bitcoin
src/univalue/
src/secp256k1/
src/compat/
src/config/
src/crypto/
src/obj/
src/leveldb/
src/qt/
src/script/
node?/

!Makefile.am
!src/Makefile.am

.idea
.cproject
.project
cscope.out
*.so

CONTRIBUTING.md
src/.clang-format
src/bench/.gitignore
src/obj-test/
*~
src/st??????